{% extends 'template.twig' %}

{% block content %}
<div class="page-header">
    <h3>Prêmios</h3>
</div>

<p>
    <a class="btn btn-primary" href="{{app.url_auth}}premio/add">
        NOVO PRÊMIO
    </a>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">Lista de Prêmios Cadastrados</div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>#</th>
                <th>Prêmio</th>
                <th>Pontos</th>
                <th>Ações</th>
            </tr>
                {% for premio in premios %}
                <tr>
                    <td>{{premio.codigo}}</td>
                    <td>{{premio.nome}}</td>
                    <td>{{premio.pontos}}</td>
                    <td>
                        <a href="{{app.url_auth}}premio/alterar/{{premio.codigo}}">
                            <image src="{{app.url_public}}/imagens/editar.png" title="Editar"></image>
                        </a>
                        <a href="{{app.url_auth}}premio/delete/{{premio.codigo}}">
                            <image src="{{app.url_public}}/imagens/excluir.png" title="Excluir"></image>
                        </a>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>

{% endblock %}
