{% include 'template/header.twig' %}
        {% include 'template/menu.twig' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <!-- <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li> -->
                    <li><a href="{{app.url_auth}}home">Home</a></li>
                    <li><a href="{{app.url_auth}}ideia">Ideia</a></li>
                    <li><a href="{{app.url_auth}}premio">Prêmio</a></li>
                    <li><a href="{{app.url_auth}}area">Área</a></li>
                    <li><a href="{{app.url_auth}}usuario">Usuário</a></li>
                  </ul>
                </div>
            </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}{% endblock %}
        </div> <!-- /container -->
{% include 'template/footer.twig' %}