{% extends 'template.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Usuários</h3>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}usuario/add">
            NOVO USUÁRIO
        </a>
    </p>
    <div class="panel panel-primary">
        {% if app.my_session.has('error') %}
            <div class="alert alert-danger">
                {{app.my_session.flash('error')}}
            </div>
        {% endif %}
        <!-- Default panel contents -->
        <div class="panel-heading">Lista de Usuários Cadastrados</div>
        <table id="table-view" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Área</th>
                    <th>Pontos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Área</th>
                    <th>Pontos</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.codigo}}</td>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.login}}</td>
                        <td>{{usuario.area}}</td>
                        <td>{{usuario.pontos}}</td>
                        <td>
                            <a href="{{app.url_auth}}usuario/alterar/{{usuario.codigo}}" class="btn btn-success center-block"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="{{app.url_auth}}usuario/delete/{{usuario.codigo}}" class="btn btn-danger center-block"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>
{% endblock %}
