{% extends 'template.twig' %}

{% block content %}
    {% if usuario is not defined %}
        {% set usuario = null %}
    {% endif %}
    <div class="page-header">
        <h3>
            {% if usuario is not null %} 
                Alteração
                {% set action='usuario/update/' ~ usuario.codigo %}
            {% else %}
                Cadastro
                {% set action='usuario/cadastrar' %}
            {% endif %} 
            de Usuários
        </h3>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="ajax-status"></div>
            <form id="usuario-form" class="form-horizontal" method="POST" action="{{app.url_auth}}{{action}}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Login:</label>
                    <div class="col-sm-8">
                        <input type="text" required maxlength="30" name="login" {% if usuario %} value="{{ usuario.login}}" {% endif %} class="form-control" placeholder="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nome:</label>
                    <div class="col-sm-8">
                        <input type="text" required maxlength="50" name="nome" {% if usuario %} value="{{ usuario.nome}}" {% endif %} class="form-control" placeholder="Nome">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Área:</label>
                    <div class="col-sm-8">
                        {% set option="" %}
                        {% set optionSelected="" %}

                        <select class="form-control" name="area">
                        {% if usuario is null %}
                            {% for area in areas %}
                                <option value ="{{area.codigo}}">{{area.nome}}</option>
                            {% endfor %}
                        {% else %}
                            {% for area in areas %}
                                {% if area.codigo == usuario.area %}
                                    {% set optionSelected = "<option value =\"" ~ area.codigo ~"\">" ~ area.nome ~ "</option>" %}
                                {% endif %}
                                    {% set option = option ~ "<option value =\"" ~ area.codigo ~"\">" ~ area.nome ~ "</option>" %}
                            {% endfor %}
                                {% autoescape %}
                                    {{ optionSelected|raw }}
                                    {{ option|raw }}
                                {% endautoescape %}
                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Pontos:</label>
                    <div class="col-sm-8">
                        <input type="number" required maxlength="11" name="pontos" {% if usuario %} value="{{ usuario.pontos }}" {% endif %} class="form-control" placeholder="Pontos">
                    </div>
                </div>
                <div {% if usuario %} class="sr-only" {% endif %}>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Senha:</label>
                        <div class="col-sm-8">
                            <input id="senha" type="password" required maxlength="62" name="senha" {% if usuario %} value="{{ usuario.senha }}" {% endif %} class="form-control" placeholder="Senha">
                        </div>
                    </div>
                </div>
                <div {% if usuario %} class="sr-only" {% endif %}>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirmar Senha:</label>
                        <div class="col-sm-8">
                            <input type="password" id="confirmaSenha" name="confirmaSenha" required maxlength="62" {% if usuario %} value="{{ usuario.senha }}" {% endif %} class="form-control" placeholder="Senha">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="isadmin" {% if usuario  and usuario.isadmin%} checked="true" {% endif %}> Administrador
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-primary">
                            {% if usuario is not null %}
                                Alterar
                            {% else %}
                                Cadastrar
                            {% endif %}
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
