{% extends 'template.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Usuários</h3>
    </div>
    {% set action = app.url_auth ~ "usuario/add" %}
    {% set destination = "USUÁRIO" %}
    {%include 'template/buttonAdd.twig'%}
    <div class="panel panel-primary">
        {% if app.my_session.has('error') %}
            <div class="alert alert-danger">
                {{app.my_session.flash('error')}}
            </div>
        {% endif %}
        <div class="panel-heading">Lista de Usuários Cadastrados</div>
        <table id="table-view" class="display cell-border">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Área</th>
                    <th>Pontos</th>
                    {%if app.my_session.get('userType') == true%}
                        <th>Ações</th>
                    {%endif%}
                </tr>
            </thead>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.codigo}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.login}}</td>
                    <td>{{usuario.area}}</td>
                    <td>{{usuario.pontos}}</td>
                    {%if app.my_session.get('userType') == true%}
                        <td>
                            <a href="{{app.url_auth}}usuario/alterar/{{usuario.codigo}}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{app.url_auth}}usuario/delete/{{usuario.codigo}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    {%endif%}
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>
{% endblock %}
