{% extends 'template.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Áreas</h3>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}area/add">
            NOVA ÁREA
        </a>
    </p>
    <div class="panel panel-primary">
        {% if app.my_session.has('error') %}
            <div class="alert alert-danger">
                {{app.my_session.flash('error')}}
            </div>
        {% endif %}
        <div class="panel-heading">Lista de Áreas Cadastradas</div>
        <table id="table-view" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
            {% for area in areas %}
                <tr>
                    <td>{{area.codigo}}</td>
                    <td>{{area.nome}}</td>
                    <td>{{area.descricao}}</td>
                    <td>
                        <a href="{{app.url_auth}}area/alterar/{{area.codigo}}">
                            <image src="{{app.url_public}}/imagens/editar.png" title="Editar"></image>
                        </a>
                        <a href="{{app.url_auth}}area/delete/{{area.codigo}}">
                            <image src="{{app.url_public}}/imagens/excluir.png" title="Excluir"></image>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>
{% endblock %}
