{% extends 'template.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Áreas</h3>
    </div>
    {% set action = app.url_auth ~ "area/add" %}
    {% set destination = "ÁREA" %}
    {%include 'template/buttonAdd.twig'%}
    <div class="panel panel-primary">
        {% if app.my_session.has('error') %}
            <div class="alert alert-danger">
                {{app.my_session.flash('error')}}
            </div>
        {% endif %}
        <div class="panel-heading">Lista de Áreas Cadastradas</div>
        <table id="table-view" class="display cell-border">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    {%if app.my_session.get('userType') == true%}
                        <th>Ações</th>
                    {%endif%}
                </tr>
            </thead>
            {% for area in areas %}
                <tr>
                    <td>{{area.codigo}}</td>
                    <td>{{area.nome}}</td>
                    <td>{{area.descricao}}</td>
                    {%if app.my_session.get('userType') == true%}
                        <td>
                            <a href="{{app.url_auth}}area/alterar/{{area.codigo}}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{app.url_auth}}area/delete/{{area.codigo}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    {%endif%}
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>
{% endblock %}
