{% extends 'template.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Ideias</h3>
    </div>
    {% set action = app.url_auth ~ "ideia/add" %}
    {% set destination = "IDEIA" %}
    {%include 'template/buttonAdd.twig'%}
    {%include 'template/showMessages.twig'%}

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Lista de Ideias Cadastradas</div>
        <table id="table-view" class="display cell-border">
            <thead>
                <th>#</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Área</th>
                <th>Usuário</th>
                <th>Status</th>
                <th>Data</th>
                {%if app.my_session.get('userType') == true%}
                    <th>Ações</th>
                {%endif%}
            </thead>
            {% for ideia in ideias %}
                <tr>
                    <td>{{ideia.codigo}}</td>
                    <td>{{ideia.nome}}</td>
                    <td>{{ideia.descricao}}</td>
                    <td>{{ideia.area}}</td>
                    <td>{{ideia.usuario}}</td>
                    <td>{{ideia.status}}</td>
                    <td>{{ideia.data}}</td>
                    {%if app.my_session.get('userType') == true%}
                        <td>
                            <a href="{{app.url_auth}}ideia/alterar/{{ideia.codigo}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a data-toggle="confirmation" href="{{app.url_auth}}ideia/delete/{{ideia.codigo}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    {%endif%}
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>
{% endblock %}
