{% extends 'template.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Prêmios</h3>
    </div>
    {% set action = app.url_auth ~ "premio/add" %}
    {% set destination = "PRÊMIO" %}
    {%include 'template/buttonAdd.twig'%}

    {% if app.my_session.has('error') %}
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{app.my_session.flash('error')}}
            </div>
        {% endif %}

        {% if app.my_session.has('info') %}
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {{app.my_session.flash('info')}}
            </div>
        {% endif %}
    <div class="panel panel-primary">

        <div class="panel-heading">Lista de Prêmios Cadastrados</div>
        <table id="table-view" class="display cell-border">
            <thead>
                <th>#</th>
                <th>Prêmio</th>
                <th>Pontos</th>
                <th>Solicitar Troca</th>
                {%if app.my_session.get('userType') == true%}
                    <th>Ações</th>
                {%endif%}
            </thead>
            {% for premio in premios %}
                <tr>
                    <td>{{premio.codigo}}</td>
                    <td>{{premio.nome}}</td>
                    <td>{{premio.pontos}}</td>
                    <td>
                        <a href="{{app.url_auth}}premio/solicitar/{{premio.codigo}}/pontos/{{premio.pontos}}/usuario/{{app.my_session.get('userCodigo')}}" class="btn btn-success btn-block{%if app.my_session.get('pontos') < premio.pontos%}  disabled {%endif%}">Solicitar</a>
                    </td>
                    {%if app.my_session.get('userType') == true%}
                        <td>
                            <a href="{{app.url_auth}}premio/alterar/{{premio.codigo}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{app.url_auth}}premio/delete/{{premio.codigo}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    {%endif%}
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>

{% endblock %}
