       </div><!--row -->
       </div><!--main -->
       <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">© {{"now"|date("Y")}} Banco de Ideias</p>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{app.url_public}}/js/jquery.min.js"></script>
        <script src="{{app.url_public}}/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{app.url_public}}/js/jquery.validate.min.js"></script>
        <script src="{{app.url_public}}/js/validate.js"></script>
        <script src="{{app.url_public}}/js/bootstrap-confirmation.js"></script>
        <script src="{{app.url_public}}/js/active.js"></script>

        <!-- Jquery Table -->
        <script src="{{app.url_public}}/js/jquery-data-table.js"></script>
        <script src="{{app.url_public}}/js/data-table-jqueryui.js"></script>

        <script type="text/javascript">
            $(document).ready(function (){
                validate(this);
                actived(this);
                $('[data-toggle="confirmation"]').confirmation({
                     rootSelector: '[data-toggle=confirmation]',
                     html: "false",
                     btnOkLabel:"Sim",
                     btnCancelLabel:"Não",
                     placement: "left",
                     title : "Você está certo?",
                     singleton:"true"
                });
                $('#table-view').DataTable(
                    {
                        "language" : {
                            "decimal":        "",
                            "emptyTable":     "Sem dados disponíveis na tabela",
                            "info":           "Mostrando _START_ até _END_ def _TOTAL_ registros",
                            "infoEmpty":      "Mostrando 0 até 0 de 0 registros",
                            "infoFiltered":   "(Filtrado de _MAX_ total de registros)",
                            "infoPostFix":    "",
                            "thousands":      ",",
                            "lengthMenu":     "Mostrando _MENU_ registros",
                            "loadingRecords": "Carregando...",
                            "processing":     "Processando...",
                            "search":         "Pesquisar:",
                            "zeroRecords":    "Nenhum registro corresponde a pesquisa",
                            "paginate": {
                                    "first":      "Primeiro",
                                    "last":       "Último",
                                    "next":       "Próximo",
                                    "previous":   "Anterior"
                                },
                            "aria": {
                                    "sortAscending":  ": activate to sort column ascending",
                                    "sortDescending": ": activate to sort column descending"
                            }
                        }
                    }
                );
            });
        </script>
        </body>
</html>