{% include 'template/header.twig' %}
        {% include 'template/menu.twig' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a id="menuhome" href="{{app.url_auth}}home"><image src="../public/imagens/home.png"></image> Home </a></li>
                    <li><a id="menuideia" href="{{app.url_auth}}ideia"><image src="../public/imagens/lampada.png"></image> Ideia</a></li>
                    <li><a id="menupremio" href="{{app.url_auth}}premio"><image src="../public/imagens/medal.png"></image> Prêmio</a></li>
                    <li><a id="menuarea" href="{{app.url_auth}}area"><image src="../public/imagens/equip.png"></image> Área</a></li>
                    <li><a id="menuusuario" href="{{app.url_auth}}usuario"><image src="../public/imagens/user.png"></image> Usuário </a></li>
                  </ul>
                </div>
                <div class="btn-group-vertical" role="group">
            </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}{% endblock %}
        </div> <!-- /container -->
{% include 'template/footer.twig' %}