{% extends 'template.twig' %}

{% block content %}
<div class="page-header">
    <h3>Usuários</h3>
</div>

<p>
    <a class="btn btn-primary" href="{{app.url_auth}}usuario/add">
        NOVO USUÁRIO
    </a>
</p>
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Lista de Usuários Cadastrados</div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Área</th>
                <th>Pontos</th>
                <th>Ações</th>
            </tr>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.codigo}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.login}}</td>
                    <td>{{usuario.area}}</td>
                    <td>{{usuario.pontos}}</td>
                    <td>
                        <a href="{{app.url_auth}}usuario/alterar/{{usuario.codigo}}">
                            <image src="{{app.url_public}}/imagens/editar.png" title="Editar"></image>
                        </a>
                        <a href="{{app.url_auth}}usuario/delete/{{usuario.codigo}}">
                            <image src="{{app.url_public}}/imagens/excluir.png" title="Excluir"></image>
                        </a>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <p>
        <a class="btn btn-primary" href="{{app.url_auth}}relatorio">
            Relatório em PDF
        </a>
    </p>
</div>
{% endblock %}
